<% if(success && success.length > 0){ %>
<div class="flash-success flash">
    <%= success[0] %>
</div>
<% } %>

<% if(error && error.length > 0){  %>
  <div class="flash-error
 flash">
    <%= error[0] %>
</div>
<% } %>



<script>
setTimeout(()=>{
   document.querySelectorAll(".flash").forEach(el=>{
      el.style.opacity="0";
      setTimeout(()=>el.remove(),500);
   })
},4000)
</script>












