.form-container{
    width:500px;
    margin:auto;
}

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}

.form-group label{
    font-weight:600;
    margin-bottom:5px;
}

.form-group input,
.form-group textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
}

.form-row{
    display:flex;
    gap:20px;
}

.submit-btn{
    padding:10px 20px;
    border:none;
    background:black;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

.submit-btn:hover{
    background:#333;
}

.form-container{
    width:90%;
    max-width:500px;
    margin:auto;
}





.was-validated input:invalid,
.was-validated textarea:invalid {
  border: 1px solid red;
}

.was-validated input:valid,
.was-validated textarea:valid {
  border: 1px solid green;
}

.invalid-feedback {
  color: red;
  font-size: 0.9rem;
  display: none;
}

.was-validated input:invalid + .invalid-feedback,
.was-validated textarea:invalid + .invalid-feedback {
  display: block;
}