

<footer>
    <div class="footer">
       <div class="fname">
        <div><i class="fa-regular fa-copyright"></i>2026 paradise.</div>
       </div>
    <div class="f-second">
        <div class="t_c">
         <div><a href="/"><h3>Privacy</h3></a></div>
         <div><a href="/"><h3>Company Details</h3></a></div>
        </div>
        <div class="social_media">
         <div><a href=""><h3><i class="fa-brands fa-instagram"></i></h3></a></div>
         <div><a href=""><h3><i class="fa-brands fa-twitter"></i></h3></a></div>
         <div><a href=""><h3><i class="fa-brands fa-linkedin"></i></h3></a></div>
        </div>
    </div>
    </div>
   
   
</footer>



